<section class="mx-auto shadow p-4 mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Cart Shop</h2>
        <button class="btn btn-primary" [routerLink]="['/payment',cartData._id]">check out</button>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <p>total price: <span class="text-main">{{cartData.totalCartPrice | currency:'EGY'}}</span></p>
        <p>total number of items:<span class="text-main">{{numOfCart}}</span></p>
    </div>
    <div class="row border-bottom p-2 m-2" *ngFor="let cart of cartData.products">
        <div class="col-sm-2">
            <img class="w-100" height="200" [src]="cart.product.imageCover" [alt]="cart.product.title">
        </div>
        <div class="col-sm-10 d-flex justify-content-between align-items-center">
            <div class="">
                <h3 class="h6">{{cart.product.title}}</h3>
                <p class="">{{cart.price | currency:'EGP'}}</p>
                <button (click)="removeItem(cart.product.id)" class="btn m-0 p-0 btn-sm" style="color: red;">
                    <i class="fa-solid fa-trash-can"></i>Revmove
                </button>
            </div>
            <div class="main-div">
                <button class="btn border-success btn-sm d-block" (click)="updateCount(cart.product.id,cart.count +1)">+</button>
                <span class="m-2 d-block">{{cart.count}}</span>
                <button class="btn border-success btn-sm d-block" (click)="updateCount(cart.product.id,cart.count -1)">-</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-success shadow" (click)="clearCart()">
            Clear Your Cart
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </div>
</section>