
.main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    margin-top: 10px;
}


// @media (min-width: 576px) { 
//     .main-div{
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//         font-size: smaller;
//     }
//     section {
//         font-size: 10px;
//     }
// }
@media (max-width: 575.98px) {

section {
    font-size: 10px;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}
}
