.main-section{
    padding-top: 80px;
}
.btn-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: unset;
    border-radius: 50%;
    background-color: lightgreen;
}