<section class="my-4">
    <h2>
        please enter your verification code
    </h2>
    <form [formGroup]="verifyEmail" (ngSubmit)="getCode()">
        <div class="inputbox mt-5">
            <input required="required" type="text" formControlName="email">
            <span>Email</span>
            <i></i>
        </div>
        <div class="alert alert-danger" *ngIf="verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched">
            <p *ngIf="verifyEmail.get('email')?.getError('required')">
                email Is Required
            </p>
            <p *ngIf="verifyEmail.get('email')?.getError('email')">
                email Is Not vaild
            </p>
        </div>
        <p *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</p>
        <button class="btn btn-outline-success mt-3">
            Verify<span *ngIf="isLoading" > <i class="fas fa-spin fa-spinner"></i> </span>
        </button>
    </form>
    
</section>