<section class="my-5">
    <h2>
        reset your account password
    </h2>
    <form  [formGroup]="resertForm" (ngSubmit)="resetPassword()">
        <div class="inputbox mt-5">
            <input required="required" type="email" formControlName="email">
            <span>Email</span>
            <i></i>
        </div>
        <div class="alert alert-danger" *ngIf="resertForm .get('email')?.errors && resertForm .get('email')?.touched">
            <p *ngIf="resertForm .get('email')?.getError('required')">
                email Is Required
            </p>
            <p *ngIf="resertForm .get('email')?.getError('email')">
                email Is Not vaild
            </p>
        </div>
        <div class="inputbox mt-5">
            <input required="required" type="password" formControlName="newPassword">
            <span>NewPassword</span>
            <i></i>
        </div>
        <div class="alert alert-danger" *ngIf="resertForm .get('newPassword')?.errors && resertForm .get('newPassword')?.touched">
            <p *ngIf="resertForm .get('newPassword')?.getError('required')">
                Password Is Required
            </p>
            <p *ngIf="resertForm .get('newPassword')?.getError('pattern')">
                Password Is Not vaild
            </p>
        </div>
        <p *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</p>
        <button class="btn btn-outline-success mt-3">
            reset password
        </button>
    </form>
</section>