<section class="w-75 p-3 mx-auto">
    <div class="form-item">
        <h1>
            Register Now:
        </h1>
        <form (ngSubmit)="handelSignin()" [formGroup]="loginForm" class="shadow p-3">
            <div class="form-item">
                <label for="email">email</label>
                <input class="form-control" type="text" id="email" formControlName="email">
                <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                    <p *ngIf="loginForm.get('email')?.getError('required')">
                        email Is Required
                    </p>
                    <p *ngIf="loginForm.get('email')?.getError('email')">
                        email Is Not valid
                    </p>
                </div>
            </div>
            <div class="form-item">
                <label for="password">password</label>
                <input class="form-control" type="password" id="password" formControlName="password">
                <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                    <p *ngIf="loginForm.get('password')?.getError('required')">
                        password Is Required
                    </p>
                    <p *ngIf="loginForm.get('password')?.getError('pattern')">
                        password MinLength 6
                    </p>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <p class="cursor-pointer forget m-0 p-0" routerLink="/forgetPassword">forget your password ?</p>

                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-success ms-auto mt-3">
                    SignIn <span *ngIf="isLoading" > <i class="fas fa-spin fa-spinner"></i> </span>
                </button>
            </div>
            

            <p *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</p>
        </form>
    </div>
</section>