<section class="w-75 my-5 mx-auto">
    <form [formGroup]="checkForm" (ngSubmit)="handleForm()">
        <label for="details">Details</label>
        <input class="form-control my-2" formControlName="details" type="text" id="details">
        <label for="phone">phone</label>
        <input type="number" id="phone" formControlName="phone" class="form-control my-2">
        <label for="city">city</label>
        <input type="text" id="city" formControlName="city" class="form-control my-2">
        <button class="btn btn-outline-primary w-100 mt-4">Pay Now</button>
    </form>
    
</section>